<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<h3 class="head">role a dice</h3>
<div class="container">
    <div class="content">
        <h1>Welcome Visitors</h1>
        <h2>Get start here...</h2>
        <a href="{% url 'dice' %}">
        <div class="btn">
            <img src="{% static 'images/button.png' %} " width='150px' height='150px'>
        </div>
        </a>
    </div>
</div>
</body>
</html>